@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Yaldevi&display=swap');


html {
scroll-behavior:smooth;
}

p {
font-family:yaldevi;
}

* {
box-sizing:border-box;
}

body {
background:#111;
margin:0;
padding:0;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-evenly;
}

header {
width:80%;
padding:1rem 1rem 0 1rem;
display:flex;
align-items:center;
justify-content:space-evenly;
margin-top:1rem;
}

@media only screen and (max-width: 600px) { 
header {
flex-direction:column;
}
}

header h1 {
color:#50ffc3;
font-family:sans-serif;
text-transform:uppercase;
margin:0 2rem;
}

header p {
color:#eee;
font-size:1.1rem;
font-weight:bold;
margin:0 1rem;
}

.lang-btn {
margin-left:-1.5rem;
}

.lang-btn img {
margin:0 0.5rem;
cursor:pointer;
margin:0 1rem;
transition:.1s;
}

.lang-btn img:nth-child(1):hover {
filter:drop-shadow(0 0 10px red);
transform:scale(1.1);
}

.lang-btn img:nth-child(2):hover {
filter:drop-shadow(0 0 10px blue);
transform:scale(1.1);
}

.line {
width:70%;
height:1px;
background:#444;
margin:2rem 0;
}

.content {
width:60%;

padding:1rem 2rem;
background:#121212;
border:1px solid #222;
border-radius:10px;
margin:1rem 0;
}


.content h1 {
color:#eee;
font-family:sans-serif;
}

.content p {
color:#eee;
font-size:1.1rem;
}

.content p a {
color:#50ffc3;
font-weight:500;
font-style:italic;
}

#contact {
display:flex;

justify-content:space-evenly;
align-items:center
} 

@media only screen and (max-width: 600px) { 

.content {

width:90%;

}

}


.media {
padding:0 3rem;
display:flex;
align-items:center;
justify-content:space-evenly;
}

.media i {
color:#eee;
font-size:1.6rem;
padding:0.8rem 0.9rem;
transition:0.2s;
margin:0 0.5rem;
}

.media i:hover {
background:#50ffc3;
color:#000;
filter:drop-shadow(0 0 5px #50ffc3);
transform:scale(1.1);
}

footer {
width:70%;
padding:0 1rem 1rem 1rem;
color:#eee;
text-align:center;
}

.mark {
color:#50ffc3;
font-weight:500;
font-style:italic;
}
