@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

::selection {
color:#0f0f0f;
background:#50ffc3;
}

* {
box-sizing:border-box;
}

body {
margin:0;
padding:0 20%;
background:#0f0f0f;
display:flex;
align-items:center;
justify-content:space-between;
}

@media only screen and (max-width:768px) {
body {
flex-direction:column;
justify-content:space-evenly;
}
}

.title {
text-align:center;
font-size:2rem;
font-family:source code pro;
color:#fff;
}

.contact {
padding:1rem;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-between;
}

.contact h2 {
font-size:2rem;
font-family:source code pro;
padding:1rem 4rem;
color:#fff;
border-bottom:1px solid #50ffc3;
}

.media-box {
width:100%;
padding:0.5rem 0;
display:flex;
align-items:center;
justify-content:space-evenly;
}

.media-box a {
color:#fff;
text-decoration:none;
padding:0.6rem 0.8rem;
font-size:1.5rem;
border-radius:50%;
margin:0 0.5rem;
transition:0.2s;
}

.media-box a:hover {
color:#0f0f0f;
filter:drop-shadow(0 0 5px #50ffc3);
transform:scale(1.1);
background:#50ffc3;
}

footer {
width:100%;
padding:0.5rem;
display:flex;
align-items:center;
justify-content:center;
color:#fff;
font-family:source code pro;
}

footer mark {
background:none;
color:#50ffc3;
}

footer mark {
animation:ani 1.5s ease-in infinite;
}

@keyframes ani {
50% {text-shadow:0 0 10px #50ffc3;}
}
