@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=PT+Sans&display=swap'); 

html {
scroll-behavior:smooth;
}

* {
box-sizing:border-box;
}

body {
margin:0;
padding:0;
background:#212121;
text-align:center;
transition:.2s;
}

.top {
height:7rem;
display:flex;
margin:0 0 2rem 0;
align-items:center;
}

#light, #night {
font-size:1.5rem;
color:#eee;
right:2.5rem;
position:absolute;
cursor:pointer;
padding:0.9rem 1.1rem;
}

#night {
color:#212121;
display:none;
}

#banner {
color:#fff;
font-size:3rem;
font-family:bebas neue;
position:absolute;
left:3.5rem
}

header {
width:80%;
display:flex;
align-items:center;
justify-content:space-evenly;
margin:0 auto;
}

header a {
color:#fff;
font-size:1.2rem;
font-family:cutive mono;
display:none;
}

@media only screen and (max-width: 720px) {
header a {display:block;}
}

#about, #contact{
width:40%;
height:auto;
padding:1rem 2rem;
background:#eee;
border-radius:10px;
margin:3rem auto;
border:1px solid #ccc;
}

.center {
display:flex;
justify-content:space-evenly;
align-items:center
}

@media only screen and (max-width: 720px) {
#about, #contact {width:90%;}
.center {flex-direction:column;}
}

.title {
font-size:2rem;
font-family:bebas neue;
color:#212121;
letter-spacing:1px;
}

.text {
font-size:1.5rem;
color:#212121;
font-family:pt sans;
font-weight:400;
}

.text a {
font-size:1.2rem;
color:#212121;
font-weight:600;
}

#media {
display:flex;
flex-direction:column;
}


#media i {
font-size:1.5rem;
cursor:pointer;
padding:1rem;
color:#212121;
transition:0.1s;
}

#media i:hover {
font-size:1.6rem;
}

#media a {
font-size:1.5rem;
color:#212121;
transition:0.1s;
text-decoration:none;
font-family:bebas neue;
}

#media a:hover {
font-size:1.6rem;
}

#avatar {
width:12rem;
height:12rem;
background:url(avatar.jpeg);
background-position:center;
background-size:95%;
background-repeat:no-repeat;
margin:2rem auto;
border-radius:50%;
border:1px solid #ccc;
}

.wrap {
width:90%;
display:flex;
margin:0 auto;
}

.skill {
width:45%;
height:auto;
padding:1.5rem 2rem;
background:#eee;
border:1px solid #ccc; 
border-radius:10px;
margin:3rem auto;
display:flex;
flex-direction:column;
align-items:center;
margin:2rem auto;
}

.image {
width:20rem;
height:14rem;
margin:2rem auto;
border-radius:10%;
}

@media only screen and (max-width: 720px) {
.wrap {flex-direction:column; width:100%;}
.skill {width:90%; margin:2rem auto;;}
.image{width:15rem; height:9rem;}
}

footer {
width:100%;
padding:2rem;
text-align:center;
background:#eee;
font-size:1.3rem;
font-family:pt sans;
}
